# R/RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Renviron
.Rprofile
*.Rproj

# OS/editor noise
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# Auth / local env
.httr-oauth
.env

# Check/build artifacts
*.Rcheck/
Meta/
inst/doc/

# Knitting/cache junk
*.utf8.md
*.knit.md
*.tex
*.tex
docs
inst/doc
